
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      
    </ion-buttons>
    <ion-button [routerLink]="['/home']" routerDirection="back" color="medium">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title slot="secondary">Añadir unas nuevas gafas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="glassesForm" (ngSubmit)="saveGlasses()">
    
    <ion-grid>
      <ion-item>
        <ion-label position="floating">Nombre *</ion-label>
        <ion-input formControlName="title"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción</ion-label>
        <ion-input formControlName="description"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Url imagen</ion-label>
        <ion-input formControlName="image"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Precio</ion-label>
        <ion-input formControlName="price"></ion-input>
      </ion-item>
    </ion-grid>
    <ion-button type="submit" color="primary">
      <ion-label>Guardar</ion-label>
      <ion-icon slot="start" name="save"></ion-icon>
    </ion-button>
  </form>
  
</ion-content>