<ion-header>
    <ion-toolbar>
        <ion-buttons slot="end">
        </ion-buttons>
        <ion-button [routerLink]="['/home']" routerDirection="back" color="medium">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title slot="secondary">Glasses Details</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="hasValues">
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-img [src]="glasses.image"></ion-img>
                </ion-col>
                <ion-col>
                    <ion-card>
                        <ion-item>
                            <ion-label class="ion-text-center" color="primary">Nombre: </ion-label>
                            <ion-label color="dark">{{glasses.title}}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label class="ion-text-center" color="primary">Url imagen: </ion-label>
                            <ion-label>{{glasses.image}}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label class="ion-text-center" color="primary">Descripción: </ion-label>
                            <ion-label class="ion-text-wrap">{{glasses.description}}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label class="ion-text-center" color="primary">Precio: </ion-label>
                            <ion-label>{{glasses.price}}</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-label class="ion-text-end">
                                <ion-button (click)="goEdit()" class="ion-text-center">
                                    <ion-icon slot="start" name="create"></ion-icon>
                                    Editar
                                </ion-button>
                            </ion-label>
                            <ion-label>
                                <ion-button (click)="deleteGlasses()">
                                    <ion-icon slot="start" name="trash"></ion-icon>
                                    Borrar
                                </ion-button>
                            </ion-label>

                        </ion-item>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>


</ion-content>
<ion-footer>
    <ion-toolbar>
        <img src="./../../assets/img/logoMain.png" alt="">
    </ion-toolbar>
  </ion-footer>