<ion-card class="ion-cards">
  <ion-card-header>
    <img src="{{glasses.image}}" alt=""/>
      <ion-card-subtitle>Producto</ion-card-subtitle>
      <ion-card-title>{{glasses.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
     <ion-badge color="primary"><a style="color: white;" [routerLink]="['/glasses/', glasses.id]">Detalles</a></ion-badge>
    </ion-card-content>
</ion-card>