<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Products - Glasses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="./../../assets/img/principal.jpg" alt="" />
    <ion-card-header>
      <ion-card-subtitle>Products</ion-card-subtitle>
      <ion-card-title>Welcome to the glasses shop</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Give your money to me :)
      </p>

    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let g of glasses" size="4">
        <app-glasses-item [glasses]="g"></app-glasses-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div>

  </div>

<ion-footer>
  <ion-toolbar>
      <img src="./../../assets/img/logoMain.png" alt="">
  </ion-toolbar>
</ion-footer>
</ion-content>
